<div class="search-container">
  <ul>
    <li>
      <span class="hash">#</span> {{input class="search-field" placeholder="Enter a hashtag" value=tag}}
    </li>
    <li>
      <label for="count">Number of images?</label>
      {{input class="count" name="count" value=count}}
    </li>
    <li>
      <button {{action "queryInstagram"}}>Search</button>
    </li>
    <li>
      <span class="display-message">{{displayMessage}}</span>
    </li>
  </ul>
</div>

<div class="search-results">
{{#each searchItem in searchResults}}
  <img {{bind-attr src=searchItem.images.thumbnail.url}}/>
{{/each}}
</div>
